#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.meme--text {
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme--textbox {
  width: 100%;
  padding: 0.75rem 1rem; /* Adjust padding as needed */
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: border-color 0.3s ease;
}

.meme--textbox:focus {
  border-color: #3f83f8;
}

.meme--button {
  background-color: indigo;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  padding: 1.2em;
  margin: 1em;
}

.navbar--active {
  font-size: 1em;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.navbar--pending {
}

.navbar--inactive {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000,
    1px 1px 3px #000;
}

/* .logo { */
/*   height: 6em; */
/*   padding: 1.5em; */
/*   will-change: filter; */
/*   transition: filter 300ms; */
/* } */
/* .logo:hover { */
/*   filter: drop-shadow(0 0 2em #646cffaa); */
/* } */
/* .logo.react:hover { */
/*   filter: drop-shadow(0 0 2em #61dafbaa); */
/* } */

/* @keyframes logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */

/* @media (prefers-reduced-motion: no-preference) { */
/*   a:nth-of-type(2) .logo { */
/*     animation: logo-spin infinite 20s linear; */
/*   } */
/* } */

/* .card { */
/*   padding: 2em; */
/* } */

/* .read-the-docs { */
/*   color: #888; */
/* } */
