#map {
  height: 500px;
  width: 100%;
}

.responsive-button {
  padding: 5px 5px;
  font-size: 12px;
  border: black;
  /* transition: background-color 0.3s ease; */
}

.responsive-button:hover {
  font-weight: bold;
}
